 .lan_title,  .lan_title img
{
    text-align: center;
}

 .lan_title img
{
    margin-top: 4px;
    max-width: 100%;
}

 h1
{
    font-family: Helvetica-Roman;
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
     margin-top: 0;
}
/* === Фильтры === */
.filters_l1, .filters_l2
{
    margin-top: 26px;
}

 .sort
{
    margin: 0 auto;
}

 .sort .sort_left,  .sort .sort_right, 
 .payment .payment_left,  .payment .payment_right
{
    display: block;
}

 .sort .sort_left,  .sort a,
 .payment .payment_left,  .payment a,
 .age .age_left
{
    float: left;
}

 .payment .payment_right,
 .age .age_right
{
    float: right;
}

.sort .sort_left
{
    margin-right: 35px;
}

.sort .sort_center
{
    display: block;
    max-width: 712px;
    height: 43px;
    margin: auto;
}

/* Завитушки */
 .sort .sort_left img,
 .payment .payment_left img
{
    margin-right: 17px;
}

/* Картинки оплаты */
 .payment .payment_right img
{
    max-width: 38px;
    max-height: 36px;  
    display: block;
    margin: 11px auto 0;  
}

 .sort a
{
     margin-right: 30px;
     padding: 9px 47px;
     border: 1px solid #e7eaee;
     border-radius: 25px;
     text-decoration: none;
     color: #a2a5a9;
    font-family: "Helvetica-Light";
}

 .sort a:last-child,  .payment a:last-child
{
    margin-right: 0;
}

 .payment a
{
    margin-right: 29px;
    border: 2px solid #d9d9d9;
    border-radius: 19px;
    text-decoration: none;
    color: #000;
    font-family: Roboto-Light;
    width: 65px;
    height: 65px; 
    font-size: 18px;  
}

 .payment a:first-child
{
    padding: 18px 14px; 
}

 .sort p, 
 .payment p,
 .age p
{
    font-size: 18px;
    margin: 8px 0;
}

 .payment p,
 .age p
{
    margin: 20px 0;    
}

 .sort .active,  .sort a:hover, 
 .payment .active,  .payment a:hover
{

     border: 1px solid #00bbe6;
     color: #00bbe6;
}

 .sort .active_rev, 
 .sort .active:hover {
     border: 1px solid #ff6102;
     color: #ff6102;
 }

 .age .age_right button
{
    width: 255px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
    text-align: left;
    margin-top: 14px;
    font-family: Roboto-Light;
    font-size: 18px;
}

 .age .age_right button:hover,  .age .age_right button:active
{
    border-bottom: 1px solid #ff6102;    
}

 .age .age_right button i
{
    float: right;
    color: #d9d9d9;
}

 .age .age_right button:hover, 
 .age .age_right button:focus, 
 .age .age_right button:active, 
 .age .age_right .open,
 .age .age_right .open:focus,
 .age .age_right .open:active,
 .age .age_right .open > .dropdown-toggle.btn-default
{
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

 .age .age_right ul
{
    width: 255px;
    border-radius: 0;
}

/* === Вывод компаний ===  */

.company_block
{
    position: relative;
}

.company_block .proveren
{
    position: absolute;
    top: 0;
    right: 477px;
}

.company_list
{
    margin-top: 45px;
    margin-bottom: 45px;
}
.company
{

}

.company .company_bg
{
    background-color: white;
    padding: 9px 11px;
    border: 2px solid #e7eaee;
    border-bottom: none;
}

.company .company_bg:hover
{
    -webkit-box-shadow: 0px 0px 15px 2px rgba(231,234,238,1);
    -moz-box-shadow: 0px 0px 15px 2px rgba(231,234,238,1);
    box-shadow: 0px 0px 15px 2px rgba(231,234,238,1);
    z-index: 9;
}

.company_list:last-child
{
    border-bottom: 2px solid #e7eaee;
}

.company .company_bg .company_block
{
    padding: 12px 0; 
}
/* Лево */
.company .company_bg .company_block .company_name
{
    font-family: Roboto-Light;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 7px;
    height: 35px;
    overflow: hidden;
}
.company .company_bg .company_block .company_name:hover
{
    font-weight:bold;
}
.company .company_bg .company_block .company_stars .star_full
{
    color: #e3950d;
}

.company .company_bg .company_block .company_stars i
{
    color: #e0e0e0;
}

.company .company_bg .company_block .company_logo
{
    margin-top: 5px;
    max-height: 56px;
    margin-bottom: 5px;
}

.company .company_bg .one_company
{
    text-align: center;
}

/* Право */

.company .company_bg .company_block a 
{
    color: #000;
    font-size: 18px;
}
.company .company_bg .company_block a:hover
{
    text-decoration: none;
}
.company .company_bg .company_block a .button_bg
{
    margin-top: 18px;
}

.company .company_bg .company_block a .button_bg .button
{
    color: #fff;
    font-family: Helvetica-Bold;
    background-color: #38a52a;
    border-radius: 10px;
    padding: 11px 20px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(129,191,117,1) 0%, rgba(129,191,117,1) 3%, rgba(57,166,43,1) 52%, rgba(57,166,43,1) 100%);
}

.company .company_bg .company_block a .button_bg .button:hover
{
    background-color: #38a52a;
    background: linear-gradient(to bottom, rgba(40,124,29,1) 0%, rgba(40,124,29,1) 7%, rgba(57,166,43,1) 36%, rgba(129,191,117,1) 83%, rgba(57,166,43,1) 100%);
}

.checked_strip
{
    width: 135px;
    height: 20px;
    line-height: 21px;
    padding-left: 31px;
    position: absolute;
    left: 6px;
    top: -9px;
    background: #ca3f47;
    color: #fff;
    font-family: Helvetica-Light;
}

.checked_strip:before, .checked_strip:after {
    content: "";
    position: absolute;
}
.checked_strip:before {
    height: 0;
    width: 0;
    top: 19.5px;
    left: 0.1px;
    border-top: 9px solid #af3239;
    border-left: 9px solid transparent;
}
.checked_strip:after {
    height: 0;
    width: 0;
    right: -10.5px;
    border: 10px solid #ca3f47;
    border-left-width: 1px;
    border-right-color: transparent;
}

.info_table
{
    text-align: center;
}

.info_table .info_title
{
    font-family: Helvetica-Light;
    font-size: 12px;
}

.info_table .info_text
{
    font-family: Helvetica-Bold;
    font-size: 18px;
    color: #00bbe6;
}

 .page_begin
 {
     margin-top: 50px;
 }

/* === Тело статьи ===  */
.landing_article
{
    margin-top: 23px;
}
.landing_article img
{
    max-width: 100% !important;
    height: auto !important;
}
.landing_article ul, .landing_article ol, .landing_article p, .landing_article p > *
{
    font-family: Roboto-Light !important;
    font-size: 18px !important;
    margin: 15px 0 !important;
}

.opinion
{
    margin: 25px 0 25px;
}

.opin_venzel
{
    margin: -46px 0;   
    width: 100%; 
}

.opinion .opin_inner
{
    padding: 30px 20px;
    border-top: 2px solid #e7eaee;
    border-bottom: 2px solid #e7eaee;
    margin: 0 13px;
}

.opinion .opin_inner img
{
    display: block;
    margin: 20px auto 0;
}

.opinion .opin_inner .expert_title
{
    font-size: 24px;
    text-transform: uppercase;
}

.opinion .opin_inner p
{
    font-family: Roboto-Light;
    font-size: 18px;
}

/* === === */
.usefull_art
{
    margin-bottom: 50px;
}
.usefull_art .ua_title
{
    text-align: center;
    margin-bottom: 70px;
    margin-top: 30px;
}

.usefull_art .ua_title img
{
    max-width: 100%;
}
.usefull_art div
{
    font-size: 24px;
    text-transform: uppercase;
    font-family: Roboto-Medium;
}

.usefull_art .ua_block
{
    border: 3px solid #1c85a7;
    max-height: 345px;
    height: 345px;
    background-color: #f4fcfe;
}

.usefull_art .ua_block img
{
    display: block;
    margin: -40px auto 0;
    height: 120px;
    width: 120px;
    border: 3px solid #1c85a7;
    border-radius: 100%;
}

.usefull_art .ua_block .ua_block_title
{
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin:  15px 0 17px;
}

.usefull_art .ua_block .ua_block_title a
{
    color: #000;
    display: inline-block;
    text-decoration: none;
    height: 50px;
}
.usefull_art .ua_block .ua_block_title a:hover
{
    font-weight:bold;
}
.usefull_art .ua_block p
{
    font-family: Roboto-Light;
    font-size: 17px;
    text-align: center;
    padding: 5px;
}

.usefull_art .ua_block .dashed_line
{
    height: 1px;
    border-top: 1px dashed #8fcdc0;
    margin: 21px 10px;
}
 
/* >992*/
@media (min-width: 992px)
{
    .company .company_bg .company_block .container
    {
        width: 924px;
    }   
     
}
/* <992*/
@media (max-width: 992px)
{
    .company .company_bg .company_block .container
    {
        width: 696px;
    }
    .company .company_bg .company_block .company_name,
    .company .company_bg .company_block .company_stars
    {
        text-align: center;
    }   
    
    .company .company_bg .company_block .company_logo
    {
        display: block;
        margin: 22px auto 0;
    } 
    
     .sort a
    {
        padding: 9px 28px;
    }
    
    .usefull_art .ua_block
    {
        margin-bottom: 70px;
    }
    
    .usefull_art
    {
    margin-bottom: 0px;
    }

}

@media (max-width: 768px)
{
    .company .company_bg .company_block .container
    {
        width: inherit;    
    }
    
}

@media (max-width: 685px)
{
     .sort a
    {
        margin-right: 5px;    
    }
    
     .payment a
    {
       margin-right: 5px; 
    }
    
}



@media (max-width: 635px)  
{  
     .sort p,  .payment p,  .age p
    {
        font-size: 14px;        
    }
     .sort a
    {
        padding: 9px 23px;
    }
}

@media (max-width: 575px) 
{
     .sort .sort_left img,  .payment .payment_left img
    {
        display: none;
    }
    
     .sort a
    {
        padding: 9px 10px;
    }
}

@media (max-width: 450px)
{
    .company .company_bg .company_block .info_line .il_right
    {
        width: 80px;
    } 
     .sort a
    {
        padding: 9px 8px;
        
    }
    
     .payment .payment_right img
    {
        margin: 3px auto 0;
    }
    
     .payment a
    {
        width: 50px;
        height: 50px;
    }
    
     .payment a:first-child
    {
        padding: 12px 8px;
    }
    
     .age .age_right button
    {
	   width: 168px;
    }
    
    .company .company_bg .company_block .info_line img 
    {
        margin-right: 0;
        width: 27px;
        height: 28px;
    }
 
}

@media (max-width: 390px)
{
    .company .company_bg .company_block .info_line .il_left 
    {
        margin-right: 34px;
    }
}

@media (max-width: 350px)
{
    .company .company_bg .company_block .info_line .il_left
    {
        margin-right: 20px;
        font-size: 15px;
        
    } 
    
    .company .company_bg .company_block .info_line .il_right
    {
        font-size: 15px;
    }     
}

