div, button, a, input, select
{
    outline: none;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    text-decoration:none;
}
.disabled .button {
    background-color: #e1e1e1 !important;
}
.navbar, .navbar .navbar-header
{
    /*min-height: 152px;*/
}
.navbar-default {
    background-color: #00bbe6;
    border: none;
}

.navbar-header .logo_small
{
    display: none;
}
.znak
{
    display: none !important;    
}
.clear
{
    clear: both;
}

@font-face
{
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.woff');
}

@font-face
{
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.woff');
}

@font-face
{
    font-family: 'Helvetica-Roman';
    src: url('../fonts/HelveticaNeueCyr-Roman.woff');
}

@font-face
{
    font-family: 'Helvetica-Bold';
    src: url('../fonts/HelveticaNeueCyr-Bold.woff');
}

@font-face
{
    font-family: 'Helvetica-Medium';
    src: url('../fonts/HelveticaNeueCyr-Medium.woff');
}

@font-face
{
    font-family: 'Helvetica-UltraLight';
    src: url('../fonts/HelveticaNeueCyr-UltraLight.woff');
}
@font-face
{
    font-family: 'Helvetica-Light';
    src: url('../fonts/HelveticaNeueCyr-Light.woff');
}

@font-face
{
    font-family: 'Helvetica-Heavy';
    src: url('../fonts/HelveticaNeueCyr-Heavy.woff');
}

@font-face
{
    font-family: 'Helvetica-LightItalic';
    src: url('../fonts/HelveticaNeueCyr-LightItalic.woff');
}

p, div
{
     font-family: 'Roboto-Light';
}
.nocompanies
{
    text-align: center;
    font-size: 26px;
    font-family: Helvetica-Roman;
}
.navbar .ultop li
{

}
.navbar-default .navbar-toggle {
    margin-top: 55px;
}
.navbar .ultop li a
{
    padding-top: 36px;
    padding-bottom: 36px;
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Helvetica-Roman;
    margin-left: 15px;
}

.navbar .ultop li a:hover
{
    background-color: #fff;
    color: #00bbe6;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar .navbar-nav  a:hover, .navbar-default .navbar-nav > .active > a:focus
{
    background-color: #fff;
    color: #00bbe6;
}

.subscribe_title
{
    background-color: #00bbe6;
    color: #fff;
    padding: 24px;
    text-align: center;
    font-size: 14px;
    font-family: Helvetica-Roman;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border: 1px solid #00bbe6;
    margin-bottom: 0;
}

.subscribe_body
{
    border-left: 1px solid #e9ecf0;
    border-right: 1px solid #e9ecf0;
    border-bottom: 1px solid #e9ecf0;

}

.subscribe_desc
{
    font-size: 14px;
    font-family: Helvetica-Light;
    margin-bottom: 20px;
    padding: 20px 30px 0;
    text-align: justify;
}

.subscribe_button
{
    background-color: #38a52a;
    background: linear-gradient(to bottom, rgba(129,191,117,1) 0%, rgba(129,191,117,1) 3%, rgba(57,166,43,1) 52%, rgba(57,166,43,1) 100%);
    height: 40px;
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-family: Helvetica-Bold;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
}

.subscribe_button:hover
{
    background-color: #38a52a;
    background: linear-gradient(to bottom, rgba(40,124,29,1) 0%, rgba(40,124,29,1) 7%, rgba(57,166,43,1) 36%, rgba(129,191,117,1) 83%, rgba(57,166,43,1) 100%);

}

#subscribe-form
{
    padding: 0 34px;
    margin-bottom: 30px;
}

#subscribe-form input
{
    text-align: center;
}

.kf_block
{
    height: 425px;
    margin-top: 50px;
    display: inline;
}

.kform
{
    z-index:4;
    width: 100%;
}
.kform .cont
{
    width: 100%;
    background-color: #1abad4;
    background: url(/frontend/web/img/kf_wallet.png), linear-gradient(to bottom, rgba(54,127,160,1) 0%, rgba(38,155,186,1) 30%, rgba(32,170,200,1) 63%, rgba(18,200,222,1) 100%);
    margin: auto;
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 85%;
}
.kform h3
{
    text-align: center;
    color: #000;
    font-family: 'Roboto-Light';
    font-size: 24px;
}
.kform table
{
    width:90%;
    color:#365750;
    margin: 0 auto;
}
.kform table
{
    font-family: 'Roboto-Light';
    font-size: 18px;
}

.kform table .right
{
    text-align: right;
    width: 75px;
    padding-right: 6px;
}
.kform table .left
{
    width: 75px;
    padding-left: 6px;
}

.kform table .right,
.kform table .left
{
    font-family: Helvetica-Roman;
    font-size: 16px;
    padding-top: 5px;
}
.kform table .right span
{
    margin-right: 13px;
}
.kform table .left span
{
    padding-left: 12px;
}
.kform table .center
{
    text-align: center;
}
#slider
{
    width: 88%;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
}
.ui-slider-handle, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-default, .ui-widget-content .ui-state-default
{
    border: 4px solid #00bbe6;
    background: #ffffff;
    font-weight: normal;
    color: #2b2b2b;
    border-radius: 100%;
    font-size: 19px;
    outline: none;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(42,198,233,1);
    -moz-box-shadow: 0px 0px 14px 1px rgba(42,198,233,1);
    box-shadow: 0px 0px 14px 1px rgba(42,198,233,1);
}
.ui-widget-header 
{
    background: #00bbe6;
}

.kform .kf_title
{
    font-family: Helvetica-Roman;
    font-size: 24px;
    color: #fff;
    padding-left: 43px;
    margin-bottom: 50px;
    padding-top: 40px;
}

.kform .kf_title #count
{
    font-family: Helvetica-Heavy;
    font-size: 36px;
    color: #fff;

}

.kform  .center
{
    margin-left: 140px;
}

.kform .kf_title .rub
{
    font-family: Helvetica-Bold;
    font-size: 34px;
    color: #fff;
    margin-left: 20px;
}

.kform .container
{
    width: 90%;
    margin-top: -30px;
}
.kform .labels
{
    color: #fff;
    font-family: Helvetica-Roman;
    font-size: 24px;
}
.kform select
{
    border: 1px solid #e7eaee !important;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: none;
    font-size: 24px;
    font-family: Helvetica-Roman;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    -ms-appearance: none;
    appearance: none !important;
    background-image: url(../img/arrowselect.png);
    background-position: 158px 14px;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transition: none;
    transition: none;
    padding: 0px 32px;
    height: 40px;
}
.kform select::-ms-expand {
  display: none;
}
.kform select option
{
    background: #fff;
    font-family: Helvetica-Light;
}
.kform .has-success .form-control
{
    box-shadow: none;
}
.findk, .nofindk
{
    margin: 13px auto 40px;
}

.kform  #credit-form .form-group
{
    width: 200px;
    display: inline-block;
    margin-left: 131px;

}

.nofindk span
{
    background-color: #e1e1e1;
    display: block;
    padding: 11px 15px;
    width: 355px;
    margin: 8px auto;
    border-radius: 10px;
    text-align:center;
    font-family: Helvetica-Light;
}
.nofindk span a
{
    color: #365750;
    font-family: Helvetica-Medium;
    font-size: 15px;
}
.findk button
{
    font-size: 18px;
    padding: 30px 35px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    width: 355px;
    height: 85px;
    margin-top: 8px;
    display: block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: Helvetica-Bold;
    background-color: #38a52a;
    background: linear-gradient(to bottom, rgba(129,191,117,1) 0%, rgba(129,191,117,1) 3%, rgba(57,166,43,1) 52%, rgba(57,166,43,1) 100%);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(109,103,103,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(109,103,103,1);
    box-shadow: 0px 0px 15px 1px rgba(109,103,103,1);
}
.findk a
{
    font-size: 16px;
    padding: 15px 35px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    width: 285px;
    height: 50px;
    display: block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: Helvetica-Roman;
    background-color: #38a52a;
    background: linear-gradient(to bottom, rgba(129,191,117,1) 0%, rgba(129,191,117,1) 3%, rgba(57,166,43,1) 52%, rgba(57,166,43,1) 100%);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(109,103,103,1);
    -moz-box-shadow: 0px 0px 15px 1px rgba(109,103,103,1);
    box-shadow: 0px 0px 15px 1px rgba(109,103,103,1);
}
.findk button:hover, .findk a:hover
{
    background-color: #38a52a;
    background: linear-gradient(to bottom, rgba(40,124,29,1) 0%, rgba(40,124,29,1) 7%, rgba(57,166,43,1) 36%, rgba(129,191,117,1) 83%, rgba(57,166,43,1) 100%);
}
.podborki
{
    background-image: url(../img/mainfootfon.png);
    min-height: 444px;
    background-size: cover;
}
.podborki .title
{
    color: #fff;
    font-size: 18px;
    font-family: Helvetica-Roman;
    text-transform: uppercase;
    height: 50px;
}
.podborki .title img
{
    margin-left: -32px;
}
.podborki a
{
    color: #fff;
    font-size: 18px;
    font-family: Helvetica-UltraLight;
    text-decoration: none;
    margin-bottom: 15pt;
    display: inline-block;
    letter-spacing: 1px;
}
.podborki a:hover
{
    font-family: Helvetica-Light;
}
.podborki .pod_title
{
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}
.podborki .pod_title p
{
    margin:25px 0 22px;
    font-family: Helvetica-Roman;
    color: #fff;
}
.footer
{
    min-height: 422px;
    width: 100%;
    background-color: #1c85a7;
}
.footer .title
{
    color: #fff;
    font-size: 16px;
    font-family: Helvetica-Roman;
    text-transform: uppercase;
    padding-top: 55px;
}
.footer a
{
    color: #fff;
    font-size: 16px;
    font-family: Helvetica-UltraLight;
    text-decoration: none;
    margin-bottom:15px;
    display: inline-block;
    letter-spacing: 1px;
}
.footer a:hover
{
    font-family: Helvetica-Light;
}
.footer .last {
    text-align: center;
}
.soca a i{width:20px;}
.footer .last .soca {
    padding: 5px 5px;
    border-radius: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 20px;
    margin-right: 11px;
    display: inline;
}
.footer .last a:hover
{
    color: #999;
}
.footer .last img
{
    margin-top: 15px;
}
.footer .litcol
{
    margin-top: 55px;
}
.cb
{
    display: none;
}
.compinfo
{
    background-color: #f4fcfe;
    border: 1px solid #00bbe6;
}
.combord
{
    width: 100%;
}

.compinfo .logocomp
{
    width: 150px;
    margin-top: 21px;
    margin-left: 28px;
    z-index: 1;
    max-height: 83px;
}

.compinfo h1
{
    font-size: 24px;
    font-family: Helvetica-Medium;
    color: #00bbe6;
    text-align: right;
    margin-top: 30px;
}

.compinfo .stars
{
    text-align: center;
}
.compinfo .stars i
{
    color: #e3950d;
}
.compinfo .left
{

}
.compinfo .left p
{
    font-size: 16px;
    font-family: Helvetica-Light;
    text-align: right;
    margin-right: 30px;
    color: #000;
    margin-bottom: 13px;
}
.compinfo .right p span
{
    font-size: 18px;
    font-family: Helvetica-Medium;
    margin-left: 30px;
    color: #00bbe6;
    width: 209px;
    display: inline-block;
    text-align:left;
}
.compinfo .right p span i
{
    font-size: 18px;
    margin-right: 4px;
}
.compinfo .right p span img
{
    margin-left:20px;
}
.compinfo .right p span img:first-child
{
    margin-left:0;
}
.compinfo .desc p
{
    padding: 29px;
    padding-bottom: 55px;
    font-size: 18px;
    font-family: Helvetica-Light;
    margin-bottom:0;
}
.onecompany .findk, .onecompany .nofindk
{
    z-index: 9;
}
.reviews
{
    margin-top: 40px;
}
.reviews .pod_title
{
    text-align: center;
}
.reviews .pod_title h2
{
    font-size: 18px;
    text-transform: uppercase;
    font-family: Helvetica-Roman;
    color: #fff;
    margin: 40px 0;
}
.reviews .pod_title img
{
    margin: 20px;
}
.add_title {
    font-size: 16px;
    color: #fff;
    font-family: Helvetica-Light;
}
.add_title .fb {
    padding: 2px 8px;
}
.add_title .vk {
    padding: 3px 4px;
}
.add_title .fb, .add_title .vk {
    color: #fff;
    background-color: #fff;
    border-radius: 100%;
    margin-left: 20px;
}
.fb i, .vk i{
    color: #00bbe6;
}
.add_title .fb:hover, .add_title .vk:hover {
    color: #999;
}
.mobbr
{
    display: none;
}
.review 
{
    border-radius: 10px;
    padding-bottom: 15px;
    background-color: #f4fcfe;
    margin-bottom: 30px;
}
.review img
{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    display: block;
    display: block;
    margin: 8px auto;
}
.review .bord_img
{
    border: 2px solid #00bbe6;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    margin-left: 25px;
    margin-top: 18px;
}
.review_border
{
    border-radius: 40px;
    box-shadow: 0px 0px 10px 4px #e8e8e8;
    border: 10px solid #fff;
    margin-bottom: 20px;
    width: 99%;
}
.review .name 
{
    margin-top:15px;
}
.wall .wall_dec
{
    text-align: center;
}
.wall .wall_dec img
{
    width: 90%;
    margin-bottom: 25px;
    max-width: 405px;
}
.review .name a
{
    font-size: 16px;
    color: #000;
    font-family: Helvetica-Roman;
}
.review .name span
{
    font-size: 18px;
    display: block;
}
.review .name span i
{
    margin-right: 5px;
    color: #365750;
}
.review p
{
    font-size: 14px;
    color: #000;
    font-family: Helvetica-LightItalic;
    margin-top: 25px;
}
.review .date
{
    font-size: 18px;
    color: #777;
    font-family: 'Roboto-Light';
    margin-top: 20px;
}
.review .likes
{
    margin-top: 65px;
    font-size: 18px;
    color: #777;
    font-family: 'Roboto-Light';
}
.review .like_plus
{
    color: #18b015;
    cursor: pointer;
    border-bottom: 1px dashed;
}
.review .like_minus
{
    color: #cf3815;
    cursor: pointer;
    border-bottom: 1px dashed;
}
.reviews .add_review {
    color: #fff;
    font-size: 20px;
    font-family: Helvetica-Medium;
    margin-top: 15px;
}
.reviews .review_text {
    font-size: 18px;
    outline: none;
    border: 2px solid #e7eaee;
    padding: 30px 20px;
    height: 160px;
    width: 100%;
    font-family: Helvetica-Light;
    border-radius: 10px;
}

.reviews .star_input .your_star
{
    color: #fff;
}

.review_button
{
    text-align: right;
}
.review_button button {
    color: #000;
    padding: 6px 32px;
    background-color: #f4fcfe;
    text-align: center;
    margin-top: 23px;
    outline: none;
    font-size: 25px;
    font-family: Helvetica-Medium;
    border-radius: 10px;
    transition: 0.5s;
    border: none;
}

.review_button button:hover
{
    background-color:#00bbe6;
    color: #fff;
}

.review_mark
{
    margin-top: 10px;
    font-family: Roboto-Light;
    font-size: 18px; 
    padding-left: 28px;
} 
.add_comment
{
    margin-bottom: 60px;
    margin-top: 10px;
}

.add_comment_logout
{
    font-family: Helvetica-Light;
    font-size: 18px;
    color: #000;
    border-radius: 10px;
    padding: 5px 40px;
    background-color: #f4fcfe;
    transition: 0.5s;
}

.add_comment_logout:hover
{
    text-decoration: none;
    background-color:#00bbe6;
    color: #fff;
}
.wall h2 {
    font-family: Helvetica-Medium;
    text-transform:uppercase;
    font-size: 18px;
    color: #222324;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 20px;
}
.panel {
    margin-top: 15px;
}
.panel-info {
    border-color: #e7eaee;
}
.wall .photos img {
    max-width: 400px;
    width: 100%;
}
.wall .wall_text {
    text-align: center;
    word-break: break-all;
    font-family: Helvetica-Light;
    font-size: 14px;
    margin-bottom: 15px;
}
.wall .photos {
    text-align: center;
}
.wall .panel-footer {
    text-align: right;
    background-color: #e7eaee;
    border-top: 1px solid #e7eaee;
    color: #00bbe6;
    font-family: Helvetica-Roman;
}
.recomend .pod_title
{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto-Medium';
    margin-top:30px;
}
.recomend .pod_title .ne_podhodit
{
    font-size: 18px;
    font-family: Helvetica-Roman;
}
.recomend .pod_title img
{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 404px;
}
.recomend table
{
    max-width: 340px;
}
.recomend .title
{
    font-size: 24px;
    font-family: 'Roboto-Medium';
    color:#000;
}
.recomend p i
{
    color:#365750;
    margin-right: 5px;
}
.recomend .logo_comp_rec img
{
    width: 155px;
    height: 95px;
}
.recomend .sumsrok
{
    text-align: right;
    font-size: 14px;
    font-family: Helvetica-Light;
    color:#000;
    padding-top: 10px;
}
.recomend .sumsrok p
{
    margin-right: 25px;
}
.recomend .sumsrokval
{
    color: #00bbe6;
    font-size: 14px;
    font-family: Helvetica-Roman;
    padding-top: 10px;
}
.recomend .desc
{
    font-size: 14px;
    font-family: Helvetica-Light;
    padding: 0px 5px 5px;
    text-align: center;
    color: #000;
    height: 120px;
}

.recblock .checked_strip
{
    top: 10px;
    left: -11px;
}

.recblock
{
    border-radius: 5px;
    width: 100%;
    max-width: 364px;
    margin: auto;
    background-color: #f4fcfe;
    border: 1px solid #e7eaee;
    position: relative;
}
.recblock .status_img
{
       position: absolute;
    bottom: 75px;
    right: 32px;
}
.recblock .imgbl
{
    width: 100%;
    height: 455px;
}

.recblock .findk {
    width: 180px;
    z-index: 9;
    margin: auto;
    height: 82px;
}
.recblock .findk a {
    width: 180px;
    height: 40px;
    padding: 8px 14px;
}

.recimg
{
    height: 50px;
    margin-top: 30px;
    text-align: center;
}

.name_stars
{
    text-align: center;    
}

.name_stars i
{
    color: #e3950d;
}

.recimg .img
{
    max-height: 50px;
}

.logo_comp_rec
{
    max-height: 50px;
}

.reviews_big
{
    background-image: url(../img/back_comments.png);
    min-height: 444px;
    background-size: cover;
}

#totop
{
    bottom: 5px;
    cursor: pointer;
    display: none;
    font-size: 150%;
    position: fixed;
    right: 5px;
    opacity: 0.3;
    z-index: 9;
}
#totop:hover
{
    opacity: 1;
}.green
{
    background-color: #f4fcfe;
    border: 1px solid #00bbe6;
}
.green p, .green span
{
    background-color: #f4fcfe !important;
    padding: 10px !important;
    display: block !important;
}

.about_portal {
    text-align: center;
}

.about_portal a
{
    font-size: 15px;
}
.wall .col-sm-6:nth-child(odd) {
    float: left;
}
.wall .col-sm-6:nth-child(even) {
    float: right;
}
@media screen and (min-width:1200px)
{
    .footer .bigcol
    {
        width: 19.666667%;
    }
    .footer .litcol
    {
        width: 25.333333%;
    }
    .podborki .last
    {
        float: right;
        margin-right: 125px;
    }
    .recblock .imgbl
    {
        width: 364px;
    }
    .recblock .status_img {
        right: 28px;
    }
}

@media screen and (max-width:1230px)
{
    .minusmarg
    {
        padding-left: 34px;
    }
}
@media screen and (max-width:1200px)
{
    .review .bord_img
    {
        margin-left: 0;
    }
    .recomend table
    {
        margin-left: 21px;
            left: inherit;
    }
    .recblock .status_img {
        margin-left: 17px;
        right: inherit;
    }
}
@media screen and (max-width:1125px)
{
    .compinfo .left {
        float: none;
    }
    .compinfo .divimg {
        margin: auto;
        width: 353px;
    }
    .compinfo .left .logocomp {
        margin-left: 10px;
    }
    .compinfo .left .locdec {
        margin-left: 0;
    }
    .compinfo .left h1
    {
        margin-left: 0;
    }

}
@media screen and (max-width:1080px)
{    
    .kf_block .monets
    {
        display: none;
    }
    .navbar .ultop li a {
        font-size: 20px;
    }
    .recblock
    {
        margin-bottom: 30px;
    }
}
@media screen and (max-width:991px)
{    
    .navbar-default .container
    {
        width:97%;
    }
    .cb
    {
        clear: both;
        display: block;
    }
    .podborki
    {
        text-align: center;
        padding-bottom: 60px;
    }
    .review .likes {
        margin-top: 0;
    }
    .recblock .status_img {
        bottom: 46px
    }
    
    .company_block .proveren 
    {
        /* right: 18px; */
        max-width: 95%;
        height: 165px;
        left: 0;
    }

    .kform .kf_title #count,
    .kform .labels
    {
        display: block;
        text-align: center;
    }

    .kform .kf_title #count
    {
        margin-left: -50px;
    }

    .kform .kf_title .rub
    {
        margin-left: 209px;
        margin-top: -53px;
        display: block;
    }
    .kform  #credit-form .form-group
    {
        display: block;
        margin: 0 auto 25px;
    }
    .kform  .center
    {
        margin: 0;
    }
    .kform .kf_title
    {
        text-align: center;
        padding-left: 0;
    }
    .info_table {
        text-align: unset !important;
    }
    .info_table .info_title
    {
        margin-left: 20%;
    }
    .info_table .info_text
    {
        margin-top: -30px;
        margin-left: 59%;
    }
    .company .company_bg .company_block a .button_bg .button
    {
        width: 60%;
        margin: auto;
    }
    .subscribe
    {
        display: none;
    }

    .sort .sort_left
    {
        float: none !important;
        text-align: center;
        margin-right: 0;
    }
    .sort a
    {
        float: none !important;
    }
    .sort .sort_right
    {
        text-align: center;
        margin-top: 20px;
    }
    .company .company_bg .one_company
    {
        margin-bottom: 15px;
    }
    .company .company_bg
    {
        margin-bottom: 30px;
        border-bottom: 2px solid #e7eaee !important;
    }
    .company_list:last-child
    {
        border: none !important;
    }

    .review
    {
        text-align: center;
    }
    .review .bord_img {
        margin: auto;
        margin-top: 10px;
    }

    .add_comment {
        text-align: center;
    }

}
@media screen and (max-width:901px)
{    
    .navbar .ultop
    {
        margin-left: 0;
    }
    .navbar-default .container
    {
        width:100%;
    }
}
@media screen and (max-width:825px)
{    
    .navbar .ultop li a {
        font-size: 18px;
        margin-left: 5px;
    }
}
@media screen and (max-width:767px)
{
    .footer
    {
        text-align: center;
    }
    .footer .last {
        float: inherit;
    }

    .navbar .ultop li a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-header .logo_small
    {
        display: block;
        margin-top: -5px;
    }
    
    .navbar-header .logo_big
    {
        display: none;
    }
    
    .mob_menu
    {
        margin-top: 30px !important;
    }
    
    .compinfo .desc, .wall
    {
        display: none;
    }
    .znak
    {
        display: inline !important;    
    }
    .foottitle
    {
        cursor: pointer;
    }
    .acdiv1, .acdiv2, .acdiv3, .acdiv4
    {
        display: none;    
    }


}
@media screen and (max-width:750px)
{    
    .kform .cont {
        width: 100%;
    }
    .kf_block .fon img
    {
        width: 100%;
        height: 441px;
    }
}
@media screen and (max-width:630px)
{    
    .kform .labels {
        font-size: 15px;
    }
    .kform select {
        font-size: 15px;
    }

    .compinfo .left p
    {
        margin-right: 0px;
    }
    .compinfo .right p span,
    .compinfo .logocomp
    {
        margin-left: 0;
    }
    .compinfo .left p {
        font-size: 14px;
    }
    .compinfo .right p span {
        font-size: 16px;
    }
    .compinfo .logocomp {
        width: 100px;
        margin-top: 30px;
    }
    .compinfo h1 {
        font-size: 20px;
    }
}
@media screen and (max-width:600px)
{

}
@media screen and (max-width:490px)
{
    .findk button, .findk a, .nofindk span {
        padding: 7px 0px;
        width: 230px;
        font-size: 15px;
        height: 55px;
    }
    .findk a {
        padding-top: 17px;
    }
    .findk {
        width: 248px;
    }
    .nofindk {
        width: 248px;
        height: 157px;
    }
    .compinfo .right p span img
    {
        height: 18px;
    }
    .reviews .pod_title img
    {
        width: 100%;    
        margin: 20px 0;
    }

}
@media screen and (max-width:443px)
{
    .compinfo .left p {
        font-size: 12px;
    }
}
@media screen and (max-width:437px)
{
    .podborki .pod_title img
    {
        width:100%;
    }
    .compinfo .divimg
    {
        width:90%;
    }
    .compinfo .left .logocomp{
        margin-left: 0;
        width: 100%;
    }
    .compinfo .left .locdec{
        width: 100%;
    }
    .review p, .compinfo .desc p
    {
        font-size: 15px;
    }
}
@media screen and (max-width: 415px)
{
    #credit-form
    {
        margin-top: -20px;
    }
    .mobbr
    {
        display: block;
    }
}
@media screen and (max-width: 400px)
{
    .recblock .status_img
    {
        display: none;
    }
    .recblock .findk a {
        width: 220px;
        padding: 21px 0;
    }
    .recblock .findk {
    width: 240px;
    }
    .recblock .logo_comp_rec
    {
            width: 120px;
    }
    .sumsrok p:first-child, .sumsrokval p:first-child
    {
        margin-top: 7px;
    }
    
    .recomend .sumsrok p 
    {
    margin-right: 20px;
    }
}

@media screen and (max-width: 383px)
{
    .compinfo .right p span {
        font-size: 14px;
        margin-top: 7px;
    }

    .compinfo .left p {
        font-size: 12px;
    }
}